// Database connection configuration
module.exports = {
  mysql: {
    host: "localhost",
    user: "root", // user
    password: "123456", // password
    database: "propertydb", // database name
    port: "3306"
  }
};
